@model projet.Models.Cafe

@{
    ViewData["Title"] = "Create";
}

<div class="create-form-container">
    <h1>Ajouter un Café</h1>
    <h4>Informations du produit</h4>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nom" class="control-label"></label>
            <input asp-for="Nom" class="form-control" />
            <span asp-validation-for="Nom" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Prix" class="control-label"></label>
            <input asp-for="Prix" class="form-control" />
            <span asp-validation-for="Prix" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Ajouter" class="btn btn-primary" />
        </div>
    </form>

    <a asp-action="Index" class="back-link">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
