@model projet.Models.Cafe

@{
    ViewData["Title"] = "Delete";
}

<div class="delete-container">
    <h1>Supprimer</h1>
    <h3>Es-tu sûr(e) de vouloir supprimer cet élément ?</h3>

    <h4>Café sélectionné</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Prix)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
